# .gitignore

# Node modules
node_modules/

# Entornos locales
.env

# Logs
*.log

# Archivos de sistema
.DS_Store
Thumbs.db

# Cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Avatares de usuarios (imágenes subidas)
public/avatars/

# Imágenes de artículos (almacen)
public/imagenes/almacen/

# Producción (por si construyes algo después)
build/

# Otros temporales
*.cache


